device: 'cpu'
data_path: './data'
test_data_path: './data/test_set_images'
seed: 42
tensor_dtype: 'float32'

model:
  unet_depth: 16

training:
  epochs: 100
  batch_size: 10
  lr: 1e-3
  weight_decay: 1e-4