device: 'cpu'
data_path: './data'
#data_path: '/content/drive/MyDrive/Colab Notebooks/ml_project2/data'
submission_path: './submission'
#submission_path: '/content/drive/MyDrive/Colab Notebooks/ml_project2/submission'
seed: 42
tensor_dtype: 'float32'

model:
  unet_depth: 16

training:
  epochs: 100
  batch_size: 10
  upsample_to_test_size: True
  lr: 1e-3
  weight_decay: 1e-4