device: 'cpu'
data_path: './data'
#data_path: '/content/drive/MyDrive/Colab Notebooks/ml_project2/data'
submission_path: './submission'
#submission_path: '/content/drive/MyDrive/Colab Notebooks/ml_project2/submission'
seed: 42
tensor_dtype: 'float32'

augmentation:
  br: # brightness gradient
    n_img: 20 # number of images to apply the brightness to
    min_d: 0.1 # minimum darkness
    max_d: 0.4 # maximum darkness
    min_b: 0.1 # minimum brightness
    max_b: 0.4 # minimum brightness
  noise:
    n_img: 20 # number of images to apply the noise to
    min: -0.1
    max: 0.1
  ct: # contrast
    n_img: 20 # number of images to apply the contrast to
    min: -0.3
    max: 0.3
  obs: # obstacles
    n_img: 20 # number of images to apply the obstacles to
    n_obs: 5
    size: # x and y size in pixels
      - 20
      - 20

model:
  unet_depth: 1
  sobel_filter: False

training:
  epochs: 1
  batch_size: 10
  upsample_to_test_size: True
  lr: 1e-3
  weight_decay: 1e-4